<% content_for :bodyid do %>id='index'<% end %>

<% if params[:adminkey] == "claytonia" %>

<div class="survey-table">
  <h1>THE ROULETTE TEST</h1>
  <table style="margin-top:40px;">
    <tbody>
    <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.name %></td>
      <td><%= link_to 'Show', survey_path(survey, mysecretcode: survey.mysecretcode) %></td>
      <td><%= link_to 'Edit', edit_survey_path(survey, mysecretcode: survey.mysecretcode) %></td>
      <td><%= link_to "X", survey, remote: true, method: :delete, class: 'delete_test'   %></td>
    </tr>
    <% end %>
    <tr>
    </tr>
    </tbody>
  </table>
  <%= paginate @surveys %>
</div>

<% else %>

<div class="intro-container">
  <div class="intro-content">
    <div class="header">
      <h1>The Roulette Test</h1>
    </div>
    <div class="description">
      <p>The fastest, simplest survey tool for testing names and concepts. <%= link_to 'Learn more', :controller=> 'pages', :action => 'show', :id => 'about' %></p>
    </div>
    <%= link_to new_survey_path do %>
    <div class="button button-lrg button-red">Create a new test</div>
    <% end %>
  </div>
  <div class="social-likes">
    <div class="facebook" title="Share link on Facebook">Facebook</div>
    <div class="twitter" title="Share link on Twitter">Twitter</div>
    <div class="plusone" title="Share link on Google+">Google+</div>
  </div>
</div>

<% end %>
