<% content_for :bodyid do %>id='show'<% end %>
<%  i = 0                                     ######## true index start for the complete set of survey options
    set_count = i+1
    start_set_counter = ((i)*3)               ######## start_counter initialized at 0
    end_set_counter = (start_set_counter+2)   ######## end_counter initialized at 2
    runoff = []                               ######## initialize runoff
%>


<div class="test-container">

  <div class="header-container">
    <div class="brand-bar">
      <div class="logo"><%= link_to 'The Roulette Test', surveys_path %></div>
      <%= render 'tools' %>
    </div>
    <h1><%= @survey.name %></h1>
  </div>
  <div class="options-container">

    <% @sets_count.times do |set_count| %>
      <%= render 'option_set', options: @shuffled_options[start_set_counter..end_set_counter], set_count: (set_count + 1) %>
      <% start_set_counter += 3 %>
      <% end_set_counter += 3 %>
    <% end %>

    <%= render 'options_runoff_set', runoff: runoff, sets_count: @sets_count unless @sets_count == 1 %>
    <%= render 'options_end_frame', sets_count: @sets_count %>

  </div>
</div>